@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Logic */
@layer base {
  section {
    scroll-margin-top: 6rem;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #050505; 
  }
  ::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #D4AF37; 
  }
}
